html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 40px;
    text-align: center;
    color: #627254;
}
h2 {
    font-size: 20px;
}
p {
    font-size:16px;
}
body {
    font: normal 10px Verdana, Arial, sans-serif;
    background-color: #EEEEEE;
}
.mainsec {
    padding: 10px;
    margin-right: 25%;
    margin-left: 25%;
    display: block;
    background-color: #DDDDDD;
    height: 100%;
}
a {
    padding: inherit;
}